<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noughmad.slashdotcomments"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.noughmad.slashdotcomments.StoryListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.noughmad.slashdotcomments.StoryDetailActivity"
            android:label="@string/title_story_detail"
            android:parentActivityName=".StoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoryListActivity" />
        </activity>
        <activity android:name="com.tapfortap.TapForTapActivity"/>
        <provider android:authorities="com.noughmad.slashdotcomments.provider" android:name="com.noughmad.slashdotcomments.SlashdotProvider"></provider>
    </application>

</manifest>